// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;


// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-green:  #326F42;
$c-lgreen: #13A538;
$c-cream:  #FFEAC1;
$c-orange: #EF7D00;
$c-red:    #B91739;
$c-black:  #000000;
$c-white:  #ffffff;

// =============================================
// Base Colors
// =============================================

// Text
$c-text: $c-black;

$font-smoothing: antialiased !default; // We use this to control font-smoothing