 @-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

%grass {
	position: relative;
	background-color: $c-green;
	padding-top: 60px;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 112px;
		top: -112px;
		left: 0;
		background-image: url(../images/grass.png);
		background-position: top left;
		background-repeat: repeat-x;
		position: absolute;
	}
}

#main-container {
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 30px;
	position:relative;
}

section {
	display: block;
	overflow: hidden;
	padding: 10px 0;
}

.title {
	display: block;
	text-align: center;
	margin-bottom: 30px;
	img {
		display: inline;
	}
}

.float-right {
	float: right;
	margin: 0 0 20px 20px;
}

.float-left {
	float: left;
	margin: 0 20px 20px 0;
}

.product-list-link {
	display: block;
	text-align: right;
	img {
		display: inline;
	}
}
.products {
	ul {
		li {
			font-size: 15px;
			font-weight: 300;
			text-align: center;
		}
	}
}

#email-response {
	padding: 10px 20px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	p {
		margin: 0;
	}
	&.error {
		background: lighten($c-red, 55%);
		border-color: lighten($c-red, 30%);
	}
	&.success {
		background: lighten($c-green, 60%);
		border-color: $c-green;
	}
}

#contact-response {
	padding: 40px;
	border: 1px solid $c-red;
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	[class^="products"] {
		display: inline-block;
		vertical-align: top;
	}
	.products-wording {
		width: 30%;
		margin-right: 5%;
	}
	.products-wrapper {
		width: 64%;
	}
	.products {
		width: 31%;
		margin-right: 2%;
		&:last-child {
			margin-right: 0;
		}
		ul {
			li {
				font-size: 16px;
				font-weight: 400;
				text-align: right;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {

}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}