#footer {
	@extend %grass;
	color: $c-white;
	padding-bottom: 30px;
	address {
		font-weight: 300;
	}
	.footer-block {
		float: left;
		margin-right: 10%;
		margin-bottom: 30px;
		p {
			margin: 0;
		}
		a {
			color: $c-white;
		}
	}
}

#copyright {
	background: $c-orange;
	line-height: 50px;
	color: $c-white;
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#footer {
		.footer-block {
			margin-bottom: 0;
		}
		.ufas {
			float: right;
			text-align: center;
			p {
				margin-top: 4px;
				font-size: 13px;
				line-height: 15px;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {

}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}