form {
	input,
	textarea {
		border: 1px solid $c-red;
		background-color: $c-cream;
		padding: 8px 14px;
		font-size: 14px;
		color: $c-red;
		margin-bottom: 20px;
		&::placeholder {
			font-size: 14px;
			color: $c-red;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	input[type="tel"] {
		margin-right: 0;
	}
	textarea {
		width: 100%;
		height: 200px;
	}
	button {
		background: $c-red;
		color: $c-white;
		border-radius: 4px;
		padding: 10px 20px;
		text-transform: uppercase;
		font-size: 16px;
		border: none;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {

}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	form {
		input[type="text"],
		input[type="email"],
		input[type="tel"] {
			width: 30.3%;
			margin-right: 4%;
		}
		input[type="tel"] {
			margin-right: 0;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}