header {
	height: 208px;
	position: relative;
	background: url(../images/header-background.jpg) repeat-x;
	.product-list-link {
		display: none;
		float: right;
	}
	.container {
		min-height: 208px;
	}
}

#desktop-nav {
	float: left;
	margin: 30px;
	display: none;
	width: calc(50% - 160px);
	ul {
		margin-top: 15px;
	}
	li {
		width: 100%;
		padding: 5px 0;
	}
	a {
		color: $c-green;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
		}
	}
}

#mobile-nav {
	position: relative;
	z-index: 200;
	ul {
		width: calc(100% - 60px);
		overflow: hidden;
		max-height: 0;
		@include transition(max-height, 0.5s, ease-in-out);
		&.open {
			max-height: 200px;
		}
	}
	li {
		display:block;
		padding: 10px 20px;
		border-bottom: 1px solid $c-cream;
		a {
			font-size: 14px;
			color: $c-red;
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
}

#mobile-nav-trigger {
	position: absolute;
	top: 20px;
	right: 20px;
}

#logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -0);
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#mobile-nav {
		display: none;
	}
	#desktop-nav {
		display: block;
	}
	header {
		.product-list-link {
			display: block;
			max-width: calc(45% - 180px);
			margin-top: 70px;
			margin-right: 20px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	header {
		.product-list-link {
			margin-right: 30px;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	header {
		.product-list-link {
			margin-top: 60px;
		}
	}
	#desktop-nav {
		margin-top: 50px;
		li {
			float: none;
			display: inline-block;
			vertical-align: top;
			width: 26%;
			margin-right: 4%;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}