#top-section {
	background-color: $c-cream;
	padding-bottom: 120px;
	.image-container {
		text-align: center;
	}
	.copy-container {
	}
	.title {
		text-align: left;
	}
}

#polaroid-girl {
	margin-left: 4%;
	position: relative;
	display: none;
}

#polaroid-cows {
	position: relative;
	margin-right: 4%;
	display: none;
}

#list-link {
	margin-left: 4%;
}

#about-us {
	@extend %grass;
	color: $c-white;
	padding-bottom: 60px;
}

#accolades-innovation {
	padding: 60px 0;
	background-image: url(../images/cows.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.floating-block {
	padding: 30px 20px;
	border: 8px solid $c-white;
	color: $c-white;
	margin: 0 auto 40px;
	text-align: center;
	&.innovation {
		background-color: $c-orange;
	}
	&.accolades {
		background-color: $c-lgreen;
		margin-bottom: 0;
	}
	.intro {
		text-transform: uppercase;
	}
	.title {
		margin-bottom: 10px;
	}
}

#contact-us {
	position: relative;
	padding: 40px 0 120px 0;
	.back-to-top {
		position: absolute;
		right: 0;
		top: 0;
		display: none;
	}
	button {
		margin: 0 auto;
		display: block;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#top-section {
		.image-container,
		.copy-container {
			display: inline-block;
			vertical-align: middle;
		}
		.image-container {
			width: 40%;
		}
		.copy-container {
			width: 55%;
		}
	}
	.cols {
		margin: 0 3%;
	}
	.col-3 {
		display: inline-block;
		vertical-align: top;
		width: 24%;
		margin: 0 4%;
	}
	.floating-block {
		max-width: 80%;
		padding: 30px 50px;
	}
	#contact-us {
		.back-to-top {
			display: block;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.cols {
		margin: 0 10%;
	}
	.col-3 {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin: 0 4%;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#top-section {
		.image-container {
			width: 35%;
		}
		.copy-container {
			width: 60%;
		}
	}
}