@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

body {
	font: 16px/22px 'Roboto', Arial, Sans-serif;
}
p {
	margin-bottom: 10px;
	font-weight: 300;
}

h3 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 20px;
	color: $c-red;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

nav {
	a {
		font-family: 'Roboto Slab';
		font-weight: 700;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {

}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {

}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}